// .component-preview
//   .preview
//     *
//       padding 0
//       margin 0
//       background transparent
table
  display table
  margin 0

tr,th,td
  border none
  background transparent
  padding 0
tr:nth-child(2n)
  background transparent

.navbar
.sidebar
  z-index auto