.{prefix}-dialog
  background: #bbb;
  & &-mask
    position fixed
    top 0
    bottom 0
    left 0
    right 0
    background #000000
    opacity .5
  & &-scroll-wrapper
    position: fixed;
    top: 0;
    bottom: 0;
    left 0
    right 0
    z-index 100
    display flex
    flex-direction row
    align-items center
    justify-content center
    overflow auto
    // overflow-y auto
    // padding 20% 0
  & &-container
    position relative
    width: 500px
    background: #fff;
    margin-bottom 40px
    // max-height: calc(100vh - 50px)
    // overflow: auto
    // left: 50%
    // top: 50%
    // transform: translate(-50%,-60%)
    border-radius: 5px
    > .{prefix}-icon-close
      position: absolute
      right: 20px
      top: 20px
      cursor: pointer
  & &-header
    height: 50px
    line-height: 50px
    border-bottom: 1px solid #ccc
    text-align: center
    font-size: 18px
  & &-body
    padding: 20px
    max-height: calc(100vh - 210px)
    overflow: auto
    >.{prefix}-form:last-child
      margin-bottom: -15px
  & &-footer
    height: 50px
    border-top: 1px solid #ccc
    text-align: center
    font-size: 18px
    padding-top: 10px
    