.{prefix}-
  &form-area
    default-border()
    default-border-radius()
    background: second-background
    &.no-board
      border-color: transparent
      background: transparent
    & + &
      margin-top: 20px
    & &-header
      default-dir-border(bottom)
      line-height: 55px
      text-indent: 30px
      background: header-background
    & &-body
      padding: 20px 0 0
      .{prefix}-input-inner
        background: #fff
      &.use-slot
        padding 20px 30px
  &form
    &[hide-label]
      .{prefix}-
        &input 
          width 100%
    & &-item
      display: flex
      margin-bottom 20px
      &.has-error
        input 
          border-color color-error
          shadow(error-color)
      &-label
        width: 30%
        line-height 40px
        font-size 14px
        text-align right
        margin-right: 10px
      &-field 
        flex: 1
        position relative
        [class$='errormsg']
          position absolute
          color color-error
          line-height 0 
          font-size 10px
          bottom -10px
        >.{prefix}-
          &input
          &select
            width: 80%
        &:first-child:last-child
          >.{prefix}-input
            width:100%
        >span:first-child:last-child 
          line-height: 40px
      
  &checkbox-wrapper
    user-select none
    cursor pointer
    +&
      margin-left 10px