.{prefix}-input
  box-sizing border-box
  color #333
  display: flex
  position: relative
  & &-inner-icon
    &-after
    &-before
      position: absolute
      top: 50%
      transform: translateY(-50%)
    &-after
      right: 10px
    &-before
      left: 10px
  button
    &:last-child
      border-left: none
      border-top-left-radius: 0
      border-bottom-left-radius: 0
  & &-inner   // input
    flex: 1
    line-height 38px
    background: input-background
    border: 1px solid #ddd
    default-border-radius()
    padding 0 15px

    &.has-after-icon
      padding-right: 34px
    &.has-before-icon
      padding-left: 34px

    &:not(:last-child)
      // background:#ccc
      border-top-right-radius: 0
      border-bottom-right-radius: 0
    
    &:focus
      outline none
      // border none
      border-color color-primary
      shadow(color-primary)
