.tippy-box
  outline none
.{prefix}-dropdown-menu
  default-border()
  default-border-radius()
  padding: 5px 0
  user-select: none
  background: #fff
  & &-split
    border none
    border-bottom: 1px solid #dae3ec
    &:first-child,&:last-child
      border none
  & &-custom-block
  & &-item
    color: color-font-primary
    padding 0 20px
    line-height 30px
  & &-item
    cursor pointer
    >.{prefix}-icons
      margin-right 5px
    &:hover
      color: color-primary
      background: color-primary + 90%