.{prefix}-dropdown-menu
  border 1px solid #cccccc
  user-select: none
  background: #fff
  & &-split
    border none
    border-bottom: 1px solid #ccc
    &:first-child,&:last-child
      border none
  & &-item
    padding 0 20px
    height 30px
    line-height 30px
    text-align center
    cursor pointer
    &:hover
      color: blue