.{prefix}-select
  position: relative
  .{prefix}-input[disabled]
    > i
      color: #888
  input 
    cursor: pointer
    user-select none
    &[disabled]
      cursor default
  & &-options
    background: second-background
    width: 100%
    outline: 1px solid #ccc
    left: 0;
    right: 0;

.{prefix}-select-options
  margin: 5px 0
  padding: 5px 0
  background: second-background
  // width: 100%
  default-border()
  default-border-radius()
  box-sizing: border-box
  & &-item
    padding: 5px 15px
    cursor: pointer
    &.selected
      color: color-primary
      background: color-primary + 80%
    &:hover
      background: color-primary + 75%

.pagin-select-popper
  >div
    padding  5px 34px 5px 15px !important
    text-align center