.{prefix}-switch
  all: initial;
  display: inline-block
  position: relative
  cursor pointer
  &.disabled
    cursor not-allowed
  input[type=checkbox]
    display none
  >.{prefix}-icon-loading
    position: absolute
    left: .1em
    top: .1em
    font-size: 1.2em
    color: #bbb
  & &-wrapper
    width: 3em
    height: 1.5em
    position: relative
    background: second-background
    box-shadow: 0 0 3px 3px rgba(0,0,0,.1)
    border-radius: .75em
    display: inline-block
    transition-duration: 300ms
    &:after
      content:''
      display: block
      position: absolute
      width:1.4em
      height 1.4em
      box-shadow: 0 0 3px 3px rgba(0,0,0,.05)
      border-radius: 50%
      transition-duration: 300ms
      background: #fff
      top: .05em
      left: .05em
        
    &.on
      background: color-primary
      box-shadow: none
      &:after
        left: 1.5em
        box-shadow: 0 0 1px 1px color-primary
      +.{prefix}-icon-loading
        left: 1.35em
        color: color-primary + 50%
    &.disabled
      background second-background + 20%
      &:after
        background second-background + 60%
      &.on
        background color-primary + 60%
        &:after
          box-shadow: 0 0 1px 1px (color-primary + 40%)
      

    