.{prefix}-table
  border-collapse: collapse
  overflow-x auto
  text-align center
  default-border()
  default-border-radius()
  + .{prefix}-pagination
    margin-top 10px
  table
    border-collapse: collapse
  td,th,.empty-line
    line-height: 1.4em
    color: color-font-second
    padding: calc(20px - .7em)
    a + a
      margin-left: 10px
    a
      color: color-primary
      cursor: pointer
      text-decoration: none
      
      &[danger]
      &.danger
        color: color-error
      

  th
    background: header-background
    font-weight: normal
    color: color-font-primary
    &.sort
      cursor: pointer
      &:hover
        background header-background - 5%
      &:focus
        outline 1px solid color-primary
      .sort-status
        float right
        margin 2px 0
        width 10px
        line-height 6px
        i
          font-size 12px
          color #bbb
        &.sort-up
          .{prefix}-icon-caret-up
            color: #333
        &.sort-down
          .{prefix}-icon-caret-down
            color: #333
  tr:nth-child(2n)
    background: second-background

      
