.{prefix}-table
  border-collapse: collapse
  overflow-x auto
  text-align center
  default-border()
  default-border-radius()
  + .{prefix}-pagination
    margin-top 10px
  table
    border-collapse: collapse
  td,th,.empty-line
    line-height: 1.4em
    color: color-font-second
    padding: calc(20px - .7em)
    a + a
      margin-left: 10px
    a
      color: color-primary
      cursor: pointer
      
      &[danger]
      &.danger
        color: color-error
      

  th
    background: header-background
    font-weight: normal
    color: color-font-primary
  tr:nth-child(2n+1)
    background: second-background

      
