.{prefix}-table-header
  display: flex
  height: 40px
  overflow: hidden
  .expend-area
    flex: 1
    line-height: 60px
    user-select: none
  .{prefix}-search-input
    width: 200px
    margin-right: 2px
    
  + .{prefix}-table
  + .{prefix}-pagintable
    margin-top: 20px
    


