.{prefix}-table
  border-collapse: collapse
  overflow-x auto
  text-align center
  default-border()
  default-border-radius()
  + .{prefix}-pagination
    margin-top 10px
  table
    width:100%
    border-collapse: collapse
    table-layout: fixed;
  td,th,.empty-line
    line-height: 1.4em
    color: color-font-second
    padding: calc(20px - .7em) 8px
    a + a
      margin-left: 10px
    a
      color: color-primary
      cursor: pointer
      text-decoration: none
      
      &[danger]
      &.danger
        color: color-error
  td
    &:not(.noWrap):not(.multiLine)
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
      word-break: break-all

    &.noWrap
      white-space: nowrap

    &.multiLine
      text-align left

  th
    background: header-background
    font-weight: normal
    color: color-font-primary
    >span
      white-space: pre;
    &.sort
      cursor: pointer
      &:hover
        background header-background - 5%
      &:focus
        outline 1px solid color-primary
      .sort-status
        float right
        margin 2px 0
        width 10px
        line-height 6px
        i
          font-size 12px
          color #bbb
        &.sort-up
          .{prefix}-icon-caret-up
            color: #333
        &.sort-down
          .{prefix}-icon-caret-down
            color: #333
  tr:nth-child(2n)
    background: second-background

.tippy-box[data-theme~='nq-tooltip']
  background color-primary
  color white
  for placement in top bottom
    &[data-placement^={placement}] > .tippy-arrow::before 
      border-{placement}-color color-primary