pagination-height = 44px
color-primary = #3C93ED
color-error = #ff8787

color-font-primary = #333
color-font-second = #666

header-top-color = #2a425a
// header-background = color-primary + 70% 
header-background = #eaf1f8

second-background = #f3f6f9

input-background = #F5F6Fb
input-dartbg-background = #fff


default-border()
  border:1px solid #dae3ec

default-border-radius()
  border-radius: 4px
  
default-dir-border(dir)
  border-{dir} 1px solid #dae3ec

shadow(color){
  box-shadow: 0 0 5px color
}