pagination-height = 44px
color-primary = #3C93ED
color-error = #ff8787

header-background = color-primary + 70% 


// table-row-color = #fbfcff
table-row-color = #f3f6f9

default-border()
  border:1px solid #dae3ec

default-border-radius()
  border-radius: 4px
  
default-dir-border(dir)
  border-{dir} 1px solid #dae3ec